extends ../index.pug

block variables
    - var template = 'about'

block content
    .about
        h1.about__header About page
        a.about__youtube__channel__link(href='https://www.youtube.com/channel/UCRy8-Ju28H8VMRf2yWioGUg' target='_blank')
            img.about__subscribe__image(alt='Subscribe to my channel' src='images/Subscribe.png')
        a.about__go__to__home__link(href='/') go back to home